<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Newses</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand btn btn-secondary" asp-area="" asp-controller="Story" asp-action="Index" style="color:white">NewsStories</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="btn btn-secondary" asp-area="" style="margin-right:50px" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-light" asp-area="" style="margin-right:100px" asp-controller="Account" asp-action="Login">Login</a>
                            </li>


                        }

                        @if (User.Identity.IsAuthenticated)

                        {
                            <li class="nav-item">
                                <a class="btn btn-secondary" style="margin-left:700px" asp-area="" asp-controller="Story" asp-action="AddorEdit" asp-route-id="0">Add Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-secondary" style="margin-left:50px" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>


                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
